{% extends 'base.html' %} {% block body %}

<form method="POST" action="/" class="container mt-4">
  <div class="mb-3">
    <label for="todoTitle" class="form-label">Todo Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter name of your todo"
    />
  </div>
  <div class="mb-3">
    <label for="todoDescription" class="form-label">Todo Description</label>
    <textarea
      class="form-control"
      id="description"
      rows="3"
      name="desc"
      placeholder="Describe about your todo"
    ></textarea>
  </div>
  <button class="btn btn-outline-primary" type="submit">Set Todo</button>
</form>

<h3 class="mt-4 container">See your Todos</h3>
<div class="container my-4 d-flex gap-3 flex-wrap">
  {% if all_todo|length==0 %}
  <h5 class="mx-auto">Add your today's Todo</h5>
  {% endif %} {% for todo in all_todo %}
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{todo.title}}</h5>
      <p class="card-text">{{todo.description}}</p>
    </div>
    <div class="d-flex justify-content-center gap-3">
      <a href="/delete/{{todo.sno}}" class="text-center"
        ><button class="btn btn-outline-danger">Delete</button></a
      >
      <a href="/update/{{todo.sno}}" class="text-center"
        ><button class="btn btn-outline-primary">Update</button></a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body %}
